<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYjCO5e4eSE4rguj7Cvz-9cTmDRT2RZBs</string>
	<key>GCM_SENDER_ID</key>
	<string>33163589701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ustudyTestTask</string>
	<key>PROJECT_ID</key>
	<string>ustudy-test</string>
	<key>STORAGE_BUCKET</key>
	<string>ustudy-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33163589701:ios:dba2d17677e6456ca64b2c</string>
</dict>
</plist>